@page "/account"
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" role="form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-floating">
                @if(string.IsNullOrEmpty(Model.ImagePath)){
                    <p>You have not uploaded the image file</p>
                    <input asp-for="Input.formFile">
                }
                else{
                    <img style="width:100px ; height: 100px" src="/images/@Model.ImagePath">
                    <p>Change your image</p>
                    <input asp-for="Input.formFile">
                }
            </div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Location" class="form-control" />
                <label asp-for="Input.Location" class="form-label"></label>
                <span asp-validation-for="Input.Location" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Description" class="form-control" />
                <label asp-for="Input.Description" class="form-label"></label>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit"  class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
