@page "/Register"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_LayoutLogin.cshtml" ; 
}
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h3 class="font-weight-bolder text-info text-gradient">Welcome </h3>
                  <p class="mb-0">Sign up your account</p>
                </div>
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                  <form role="form" id="account" method="post">
                    <label>UserName</label>
                    <div class="mb-3">
                      <input  asp-for="Input.Name" class="form-control" placeholder="User Name" >
                       <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div> 

                    <label>Email</label>
                    <div class="mb-3">
                      <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                       <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <label>Password</label>
                    <div class="mb-3">
                      <input type="password" asp-for="Input.Password"  class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-addon">
                       <span asp-validation-for="Input.Password" class="text-danger"></span> 
                    </div>

                    <label>Confirm Password</label>
                    <div class="mb-3">
                      <input type="password" asp-for="Input.ConfirmPassword"  class="form-control" placeholder="Confirm Password" aria-label="Password" aria-describedby="password-addon">
                       <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span> 
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Sign up</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    If you have account 
                    <a asp-page="Login" class="text-info text-gradient font-weight-bold">Sign in</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/assets/img/curved-images/curved6.jpg')"></div>
              </div>
            </div>
          </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
